* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  --text-dark: hsl(240, 10%, 20%);
  --text-light: hsl(240, 10%, 98%);
  --bg-dark: hsl(240, 10%, 10%);
  --bg-light: hsl(240, 10%, 98%);
  --bg-mid: hsl(240, 10%, 25%);
  --primary: hsl(60, 100%, 70%);
  --secondary: hsl(220, 100%, 70%);
  --focus-highlight: var(--secondary);
  --size-xs: 0.25rem;
  --size-sm: 0.5rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 2rem;
  --size-xl: 4rem;
  font-size: clamp(0.875rem, 0.6rem + 1vw, 1.125rem);
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* SwiftUI 🤙 */
.vstack {
  --gap: var(--size-md);
  --align: stretch;
  --pad: 0;
  --radius: 0;
  --bg: transparent;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: var(--align);
  padding: var(--pad);
  border-radius: var(--radius);
  background-color: var(--bg);
}

.hstack {
  --gap: var(--size-md);
  --align: center;
  --justify: flex-start;
  --pad: 0;
  --radius: 0;
  --bg: transparent;
  display: flex;
  gap: var(--gap);
  align-items: var(--align);
  justify-content: var(--justify);
  padding: var(--pad);
  border-radius: var(--radius);
  background-color: var(--bg);
}

.spacer {
  flex-grow: 1;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  gap: max(1.5rem, 1rem + 4vw);
  padding: 1rem;
  padding: max(1rem, 1rem + 2vw);
}

.layout {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  gap: var(--size-xl);
}

@media (min-width: 56em) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 34ch;
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-lg);
  gap: max(var(--size-lg), var(--size-lg) + 2vw);
}

button,
.button {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font: inherit;
  font-weight: bold;
  border: 0;
  border-radius: 0.5rem;
  padding: var(--size-sm) var(--size-md);
  line-height: 1;
  color: var(--text-dark);
  background-color: var(--bg-light);
  cursor: pointer;
  text-decoration: none;
}

button[data-primary],
.button[data-primary] {
  background-color: var(--primary);
}

button.icon,
.button.icon {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

button.icon:hover,
.button.icon:hover {
  --color: var(--primary);
  color: var(--color);
}

button.icon svg[data-voted="true"],
.button.icon svg[data-voted="true"] {
  fill: var(--color);
  stroke: var(--color);
}

label {
  font-weight: bold;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 1;
  font: inherit;
  color: inherit;
  background-color: var(--input-bg, var(--bg-mid));
}

.select {
  --icon-col: calc(20px + var(--size-md));
  display: grid;
  grid-template-columns: 1fr var(--icon-col);
  grid-template-rows: auto;
}

select {
  appearance: none;
  -webkit-appearance: none;
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  padding-right: var(--icon-col);
}

.select::after {
  content: "";
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  pointer-events: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>');
  background-position: center center;
  background-repeat: no-repeat;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
button,
.button {
  border: 0.125rem solid transparent;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
button:focus,
.button:focus {
  border-color: var(--focus-highlight);
  outline: 0;
}

.page-header a {
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
}

main {
  /* max-width: 60rem;
  margin: 0 auto; */
}

.block-link {
  position: relative;
}

.block-link a {
  text-decoration: none;
}

.block-link a:hover {
  text-decoration: underline;
}

.block-link a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

details {
  position: relative;
}

summary {
  list-style: none;
  display: flex;
  gap: var(--size-sm);
}

summary::after {
  content: "+";
}

details[open] summary::after {
  content: "×";
}

/* extend summary to whole screen so clicking outside closes */
details[open] summary::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

details > :not(summary) {
  opacity: 0;
  transition: opacity 0.2s;
}

/* render the children in a card */
details[open] > :not(summary) {
  opacity: 1;
  position: absolute;
  top: calc(100% + 1rem);
  z-index: 10;
}

.add-resource {
  --input-bg: var(--bg-dark);
  min-width: 40ch;
  box-shadow: 0 2px 4px hsla(240, 10%, 0%, 0.8),
    0 4px 12px hsla(240, 10%, 0%, 0.6);
  background-color: var(--bg-mid);
}
