* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  --text-dark: hsl(240, 10%, 20%);
  --text-light: hsl(240, 10%, 98%);
  --bg-dark: hsl(240, 10%, 10%);
  --bg-light: hsl(240, 10%, 98%);
  --bg-mid: hsl(240, 10%, 20%);
  --primary: hsl(60, 100%, 70%);
  --size-xs: 0.25rem;
  --size-sm: 0.5rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 2rem;
  --size-xl: 4rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

/* SwiftUI 🤙 */
.vstack {
  --gap: var(--size-md);
  --align: flex-start;
  --pad: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: var(--align);
  padding: var(--pad);
}

.hstack {
  --gap: var(--size-md);
  --align: center;
  --justify: flex-start;
  --pad: 0;
  width: 100%;
  display: flex;
  gap: var(--gap);
  align-items: var(--align);
  justify-content: var(--justify);
  padding: var(--pad);
}

.spacer {
  flex-grow: 1;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  gap: max(1.5rem, 1rem + 4vw);
  padding: 1.5rem;
  padding: max(1.5rem, 1rem + 4vw);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-lg);
  gap: max(var(--size-lg), var(--size-lg) + 2vw);
}

button,
.button {
  font: inherit;
  font-weight: bold;
  border: 0;
  border-radius: 0.5rem;
  padding: var(--size-sm) var(--size-md);
  color: var(--text-dark);
  background-color: var(--primary);
}

label {
  font-weight: bold;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
  padding: 0.75rem;
  font: inherit;
  color: inherit;
  background-color: var(--input-bg, var(--bg-mid));
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
button:focus {
  border-color: var(--primary);
  outline: 0;
}

.page-header a {
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
}

main {
  /* max-width: 60rem;
  margin: 0 auto; */
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: var(--size-lg);
  gap: max(var(--size-lg), var(--size-lg) + 2vw);
}

.resource {
  position: relative;
  border-radius: 0.5rem;
}

.resource:hover {
  background-color: var(--bg-mid);
}

.resource a {
  text-decoration: none;
}

.resource a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

details {
  position: relative;
}

summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: var(--size-sm);
}

summary::after {
  content: "+";
}

details[open] summary::after {
  content: "×";
}

/* extend summary to whole screen so clicking outside closes */
details[open] summary::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

details > :not(summary) {
  opacity: 0;
  transition: opacity 0.2s;
}

/* render the children in a card */
details[open] > :not(summary) {
  opacity: 1;
  position: absolute;
  top: calc(100% + 1rem);
  border-radius: 1rem;
  box-shadow: 0 2px 4px hsla(240, 10%, 0%, 0.8),
    0 4px 12px hsla(240, 10%, 0%, 0.6);
  background-color: var(--bg-mid);
  z-index: 10;
}

.add-resource {
  min-width: 40ch;
  --input-bg: var(--bg-dark);
}
